cloud_id = "your_cloud_id"
folder_id = "your_folder_id"
zone = "ru-central1-a"
image_id = "image_id"
public_key_path = "your_path_to_public_key"
subnet_id = "your_subnet_id"
service_account_key_file = "your_path_to_service_account_key_file"
private_key = "your_path_to_private_key"
