{

"service_account_key_file": "packer/otus-service_key.json",
"folder_id": "your_folder_id",
"source_image_family": "your_image_family",
"instance_name": "reddit-app-base",
"zone": "ru-central1-a",
"subnet_id": "your_subnet_id"

}
